In [1]:
import pandas as pd

In [11]:
df  = pd.read_csv("mempool.csv")
df.head()

,tx_id,fee,weight,parents
0,2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee...,452,1620,NaN
1,79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...,682,1136,6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...
2,b0ef627c8dc2a706475d33d7712209ec779f7a8302aaea...,226,900,NaN
3,8c25f9be93990b96e8bc363778d6debee6867c7d73cefa...,258,1032,NaN
4,edc82751537be6afcb21c0229d8d20916d8e742a363ab2...,452,1616,NaN

In [12]:


#to drop rows or columns whose value is empty

df.dropna(how = "all", inplace = True)
df.head()

,tx_id,fee,weight,parents
0,2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee...,452,1620,NaN
1,79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...,682,1136,6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...
2,b0ef627c8dc2a706475d33d7712209ec779f7a8302aaea...,226,900,NaN
3,8c25f9be93990b96e8bc363778d6debee6867c7d73cefa...,258,1032,NaN
4,edc82751537be6afcb21c0229d8d20916d8e742a363ab2...,452,1616,NaN

In [13]:
#checking the data types 
df.dtypes

tx_id       object
fee          int64
weight       int64
parents     object
dtype: object

In [25]:
#class MempoolTransaction():
def MenpoolTransaction(df):
    #txid = txid
    #fee = int(fee)
    
    df['ratio']= df.fee/df.weight
               
MenpoolTransaction(df)

In [28]:
df.head()

,tx_id,fee,weight,parents,ratio
0,2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee...,452,1620,NaN,0.279012
1,79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...,682,1136,6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...,0.600352
2,b0ef627c8dc2a706475d33d7712209ec779f7a8302aaea...,226,900,NaN,0.251111
3,8c25f9be93990b96e8bc363778d6debee6867c7d73cefa...,258,1032,NaN,0.250000
4,edc82751537be6afcb21c0229d8d20916d8e742a363ab2...,452,1616,NaN,0.279703

In [52]:


def parent(x, A):
    if str(x) != "nan":
        parent_list = str(x).split(";")
        for i in parent_list:
            if(A.count(i)):
#                 print("Akhil")
                continue
            else:
                return False
                #txnindex = df[df['tx_id'] == i].index.item()
                #k = df.loc[txnindex]
                #check_add_txn(k)
                
    return True

In [54]:
threshold = 0.3
# for i in range(2000)
# creating list  
A =[]
fe = 0
we = 0;
max_weight = 4000000
for j in range(10):
    for i in range(len(df)):
        if(parent(df.iloc[i,3],A) and df.iloc[i,4] > threshold and we+df.iloc[i,2]<=max_weight):
            A.append(df.iloc[i,0])
            fe += df.iloc[i,1]
            we += df.iloc[i,2]
# for i in A:
#     print(i)
print(fe)
print(we)
def write_to_file(fin_list):
    file = open("block.txt","a")
    for i in fin_list:
        file.write(str(i) + '\n')
    file.close()
write_to_file(A)

5774636
3999820